@media screen and (max-width: 800px) {
  main {
    width: auto;
    margin: 0 20px 0 20px;
  }

  /* ------------------Global-------------------- */
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 13px;
  }

  p {
    font-size: 18px;
  }

  #title-heberg {
    margin: 6vw 0 5vw 4vw;
  }

  /* -----------------Partie filtres----------------- */

  .title-section {
    width: 100%;
  }

  .link-filtre {
    margin-bottom: 10px;
    margin-right: 0.5rem;
  }

  /*Rencherche*/

  .placeholder {
    width: 24%;
  }

  /* ---------------hébergements------------------ */

  main {
    flex-direction: column-reverse;
  }

  aside {
    width: auto;
    margin-bottom: 50px;
    padding: 0;
  }

  .category-populaire {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .category-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .category-container img {
    margin-right: 5px;
  }

  .category-container-bloc {
    height: 15vw;
    width: 27vw;
  }

  article {
    width: 100%;
    box-shadow: none;
    background-color: transparent;
  }

  .room-container-bloc {
    width: 100%;
    width: 26vw;
    height: 20vw;
  }

  .room-container-bloc-description img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .room-stars-note {
    font-size: 1.2vw;
  }

  .show-more {
    font-size: 15px;
  }

  .activite-respon {
    padding: 0 20px 0 20px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .activites-container-titles {
    font-size: 11px;
  }

  .category-container-stars-note {
    font-size: 1vw;
  }

  .footer-infos_title {
    font-size: 12px;
  }

  .footer-list-title {
    font-size: 13.5px;
  }

  .footer-list-item > a {
    font-size: 15px;
  }

  .footer-infos_list_element {
    font-size: 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  h1 {
    font-size: 18px;
  }

  .activites-container {
    display: flex;
    flex-wrap: wrap;
    height: 150vw;
    align-items: center;
  }

  .activites-container-tall {
    height: 40vw;
    width: 100%;
  }

  .activites-container-tall img {
    height: 33vw;
  }

  .activites-container-mini {
    flex-direction: row;
    width: 100%;
  }

  .activites-container-mini-pomegues {
    height: 25vw;
    width: 50%;
    margin-right: 3vw;
  }

  .pomegues-pic {
    height: 18vw;
  }

  .activites-container-mini-frioul {
    height: 25vw;
    width: 50%;
  }

  .activites-container-mini-notredame {
    height: 25vw;
    width: 50%;
    margin-right: 3vw;
  }

  .notredame-pic {
    height: 18vw;
  }

  .activites-container-mini-longchamp {
    height: 25vw;
    width: 50%;
  }

  .longchamp-pic {
    height: 18vw;
  }

  #activites h2 {
    padding-left: 20px;
  }

  .activites-container-titles {
    font-size: 2.2vw;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }

  .footer-infos_title {
    font-size: 2vw;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  footer a {
    font-size: 1.7vw;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer-infos_list {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    margin: 0;
  }

  .logo {
    margin-left: 20px;
    align-self: flex-start;
    margin-bottom: 15px;
  }

  .navbar {
    display: inline;
    height: 50px;
  }

  .navbar-menu {
    display: flex;
    border-bottom: solid 2.5px #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-menu_item {
    width: 50%;
    text-align: center;
    padding: 0;
  }

  .navbar-menu_item:hover {
    border-top: none;
    color: var(--primary);
    border-bottom: solid 2.5px var(--primary);
    margin-bottom: -13px;
    padding-top: 0;
  }

  .inscription {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
  }

  /* -----------------Formulaire de recherche------------------- */

  form {
    margin-left: 27px;
  }
  h1 {
    margin: 20px 0 10px 0;
  }

  p {
    margin-bottom: 30px;
  }

  .block-searche {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
  }

  .btn-searche {
    visibility: hidden;
    display: none;
  }

  .btn-phone {
    visibility: visible;
    z-index: 1;
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 15px;
    height: 41px;
    width: 50px;
    margin-left: -10px;
    cursor: pointer;
    display: inline;
  }

  .catch-phrase {
    font-size: 1rem;
  }
  .placeholder {
    width: 60%;
    border-right: none;
    border-left: none;
  }

  .footer-news {
    margin-top: 72rem;
  }

  .footer-list-item > a {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: 6vw;
  }

  aside {
    border-radius: 0;
  }

  .category-container {
    flex-direction: column;
  }

  .category-container-bloc {
    width: 90%;
    height: 32vw;
  }

  .category-container-bloc img {
    margin-right: 15px;
  }

  .category-title {
    margin: 25px 15px 30px 20px;
    font-weight: bold;
  }

  h3 {
    font-size: 4vw;
    font-weight: bold;
  }

  aside p {
    font-size: 3.5vw;
  }

  .category-container-stars-note {
    font-size: 2.2vw;
    margin-top: 12vw;
  }

  article {
    margin: 0;
  }

  .room-container-bloc {
    width: 90%;
    height: 52vw;
    box-shadow: 0px 1px 1px 4px rgb(233, 231, 231);
  }

  .room-container-bloc-description img {
    height: 28vw;
  }

  article p {
    font-size: 3.5vw;
  }

  .room-stars-note {
    font-size: 3.2vw;
  }

  .show-more {
    font-size: 4vw;
    margin-left: 30px;
  }

  /*---------------------PARTIE ACTIVITES-------------------------- */

  #activites {
    height: 350vw;
    padding: 0;
  }

  #activite {
    margin-left: 0;
    margin-right: 0;
  }

  .title-activite {
    margin-left: 20px;
  }

  .activites-container {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .activites-container-big {
    width: 100%;
    height: 50vw;
    margin-bottom: 20px;
  }

  .activites-container-big img {
    height: 75%;
  }

  .activites-container-mini-pomegues {
    width: 100%;
    height: 50vw;
    margin-bottom: 20px;
  }

  .pomegues-pic {
    height: 75%;
  }

  .activites-container-mini-frioul {
    width: 100%;
    height: 50vw;
    margin-bottom: 20px;
  }

  .frioul-pic {
    height: 75%;
  }

  .activites-container-mini-notredame {
    width: 100%;
    height: 50vw;
    margin-bottom: 20px;
  }

  .notredame-pic {
    height: 75%;
  }

  .activites-container-mini-longchamp {
    width: 100%;
    height: 50vw;
    margin-bottom: 20px;
  }

  .longchamp-pic {
    height: 75%;
  }

  .activites-container-titles {
    font-size: 4vw;
    margin-top: 15px;
    margin-left: 25px;
  }

  /*-------------------------FOOTER--------------------------- */
  .footer-infos {
    flex-direction: column;
    padding-left: 20px;
  }

  .footer-infos_title {
    font-size: 5.5vw;
    padding: 0;
    margin: 20px 0 20px 0;
  }

  .footer-infos_list {
    padding: 0;
  }

  .footer-infos_list_element {
    font-size: 5vw;
  }
}
