@font-face {
  font-family: "raleway";
  src: url(../Font/Raleway-VariableFont_wght.ttf);
}

body {
  font-family: "raleway";
  margin: 35px 0 0 50px;
}

header {
  height: 71px;
}

nav {
  margin: 0;
}

ul {
  margin-top: 6px;
  padding: 0;
  float: right;
  display: flex;
  margin-right: 30px;
}

li {
  padding-right: 35px;
  list-style: none;
}

a:hover {
  color: #0065fc;
  border-top: 2px solid;
}

.link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.link-3 {
  color: 0065fc;
  font-weight: bold;
  font-style: normal;
}

form {
  display: flex;
}

.icon-marker {
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 15px 0 0 15px;
  border-radius: 25px 0 0 25px;
  background-color: #f2f2f2;
  font-size: 1rem;
}

.placeholder {
  font-size: 1rem;
  width: 15%;
  height: 35px;
  opacity: 0.5;
}

.btn-searche {
  cursor: pointer;
  background-color: #0065fc;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 0 25px 25px 0;
}

.title-section {
  display: inline-flex;
  margin: 35px 25px 0 0;
}

.btn-filtre {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  height: 49px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid#f2f2f2;
}

.filtre-value {
  height: 46px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 15px;
  font-size: 1rem;
  overflow: hidden;
  justify-content: space-between;
}

.item-filtre {
  width: 50px;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #deebff;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 100%;
  color: #0065fc;
}

.info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fa-info {
  color: #535963;
}

.filtre-value > p {
  display: flex;
  padding-left: 15px;
}

#title-heberg {
  padding-top: 40px;
}

.titre-1 {
  display: flex;
  align-items: flex-start;
}

main {
  display: flex;
}

.hebergment {
  width: 60%;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 0 3vw 3vw 3vw;
}

.room-list {
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pic-heberg {
  height: 115px;
  width: 239px;
  padding: 5px 5px 0 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.room-name {
  margin-top: 9px;
  margin-left: 15px;
  color: black;
}

.lien-pic {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0px 0px 7px 3px rgb(209, 208, 208);
}

.texte-info {
  font-size: 1vw;
  margin: -10px 0 10px 15px;
  color: black;
}

.note-stars {
  margin: -10px 0 10px 15px;
  padding-top: 5px;
  color: #0065fc;
}

.description-heberg {
  display: flex;
  flex-direction: column;
}

.lien-affiche-plus {
  font-weight: bold;
  font-size: 1.3vw;
  margin: 3vw 0 1vw 0;
  padding-left: 5px;
  text-decoration: none;
}

.pic-popul {
  height: 125px;
  width: 125px;
  margin: 0;
  padding: 5px;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.description-populaire {
  width: 60%;
  display: flex;
  flex-direction: column;
  color: black;
}

.fa-star {
  color: #0065fc;
}

.link-popular {
  display: flex;
  width: 356px;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 3vw;
}

.category-populaire {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  width: 25%;
}

.section-populaire {
  background-color: #f2f2f2;
  width: 385px;
}

.titre-populaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activites-block {
  display: flex;
  height: 32vw;
  justify-content: space-between;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

.activites-block-container {
  height: 100%;
  width: 21vw;
  object-fit: cover;
  -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
  box-shadow: 2px 2px 20px rgb(230 230 230);
  border-radius: 15px;
}

.activites-block img {
  object-fit: cover;
  height: 89%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activites-block-title {
  color: black;
  margin-left: 1.2vw;
  font-size: 1.1vw;
  margin-top: 0.7vw;
}

.activites-block-small {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.activites-block-small-pomegus {
  width: 21vw;
  height: 50%;
  -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
  box-shadow: 2px 2px 20px rgb(230 230 230);
  border-radius: 15px;
}

.pic-pomegues {
  object-fit: cover;
  width: 100%;
  height: 77%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activites-block-small-frioul {
  width: 21vw;
  height: 40%;
  -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
  box-shadow: 2px 2px 20px rgb(230 230 230);
  border-radius: 15px;
}

.pic-frioul {
  object-fit: cover;
  width: 100%;
  height: 72%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activites-block-small-notredame,
.activites-block-small-longchamp {
  width: 21vw;
  height: 45%;
  -webkit-box-shadow: 2px 2px 20px rgb(230 230 230);
  box-shadow: 2px 2px 20px rgb(230 230 230);
  border-radius: 15px;
}

.footer-news {
  width: 100%;
  display: flex;
  background-color: #f2f2f2;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer-list {
  margin-right: 13vw;
  margin-left: 3vw;
}

.footer-list-title {
  font-size: 1.2vw;
}

.footer-container {
  display: inline-block;
  list-style: none;
  color: black;
}

.footer-list-item {
  padding-bottom: 20px;
  font-size: 1vw;
  color: black;
}

.footer-list-item > a {
  color: black;
}
